<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858545017340-6aa92l51cq0pgmae03r0t6k8eim6m2nq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858545017340-6aa92l51cq0pgmae03r0t6k8eim6m2nq</string>
	<key>API_KEY</key>
	<string>AIzaSyDrtQ8_YvZCxyE7G4deB6mKasNz-vs0pok</string>
	<key>GCM_SENDER_ID</key>
	<string>858545017340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.heart.Heartadvisor</string>
	<key>PROJECT_ID</key>
	<string>heartadvisor-10663</string>
	<key>STORAGE_BUCKET</key>
	<string>heartadvisor-10663.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858545017340:ios:f76d1c2eb30ca264fe6279</string>
</dict>
</plist>